.heading{
    color: red;
}
.p_paris {
    background: beige;
}
.fillertxt{
    border: 10px lightgreen ridge;
    margin: 5px;
}
#london{
    background: pink;
}

span{
    padding: 0 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid grey;
}

html{
        scroll-behavior: smooth;
}
